# Event Service Configuration
MONGODB_URI=mongodb://mongo:27017/event-management-db
PORT=3002
NODE_ENV=development

# Kafka Configuration
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=event-service

# Service Configuration
SERVICE_NAME=event-service
